* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
}

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 141px;
  margin-left: 141px;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.navigation-content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  width: 1158px;
  height: 72px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0 15px;
}

.title-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.title span {
  color: #2e2f42;
}
.title-list-link a {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.title-list-link-subtitle:hover,
.title-list-link-subtitle:focus {
  color: #404bbf;
}
.title-list-item a:hover,
.title-list-item a:focus {
  color: #404bbf;
}
.contacts-item a:hover,
.contacts-item a:focus {
  color: #404bbf;
}

.contacts {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-item {
}

.contacts-content {
  display: flex;
  margin-left: auto;
  gap: 40px;
  justify-content: end;
  align-items: center;
}

.contacts-item-link {
  color: #434455;
}

/* mine-item */

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
}

.mine-item {
  height: 600px;
  width: 100%;
  background: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maine-item-text {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin-bottom: 48px;
  padding: 188 472 292 472;
}
.mine-item-btn {
  background: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  display: block;
  border: none;
  border-radius: 4px;
}
.mine-item-btn:hover,
.mine-item-btn:focus {
  background-color: #404bbf;
}

/* about-us */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  display: none;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.about-us {
  background: #fff;
  display: flex;
  padding: 120px 0;
}
.about-us-list {
  background: #fff;
  display: flex;
  gap: 24px;
}
.about-us-list-item {
  width: calc((100% - 72px) / 4);
  height: auto;
}
.about-us-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.about-us-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team-section {
  padding: 120px 0;
  background: var(--CLOUD, #f4f4fd);
  height: 732px;
}
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  background-color: inherit;
  justify-content: center;
}
.name-position {
  padding: 32px 0;
}
.our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  height: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-photos {
  background-color: #ffffff;
}
.our-team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* OUR PORTFOLIO */

.our-portfolio-section {
  padding: 120px 0;
  background: #fff;
}

.our-portfolio {
}
.our-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}
.our-portfolio-item {
  width: calc((100% - 48px) / 3);
}
.our-portfolio-pictures {
}
.portfolio-products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  height: 312px;
  padding: 100px 0;
}

.footer-section {
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  height: 72px;
}

.studio {
  color: #f4f4fd;
}
