*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
 img{
    display: block;
 }
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 1158px;


   }
.container{
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

/* header */

.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px;
      
}
.navigation-content{
    display: flex;
   margin-right: 332px;
   align-items: center;
}

.title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: calc(100% - (156px * 2));
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    
       }
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
       }

.title-list{
    display: flex;
    gap: 40px; 
    align-items: center;
    }

.title span{
    color: #2E2F42;
}
.title-list-link a{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.title-list-link-subtitle:hover,
.title-list-link-subtitle:focus{
    color: #404bbf;   
}
.title-list-item a:hover,
.title-list-item a:focus {
    color: #404bbf;
}
.contacts-item a:hover,
.contacts-item a:focus {
    color: #404bbf;
}


.contacts{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
      
}
.contacts-item{
    
}

.contacts-content{
    display: flex;
    margin-left: auto;
    gap: 40px;
    flex-shrink: 0;
    padding: 24px 0;
    justify-content: end;
    align-items: center;
    
   
}

.contacts-item-link{
    color:#434455
}


/* mine-item */

.mine-item{
    height: 600px;
    width: 100%;
    background: var(--NAVY-BLUE, #2E2F42);
    display: flex;
    flex-direction: column;
align-items: center; 
justify-content: center;
margin-bottom: 120px;
padding: 188px 0

}

.maine-item-text{
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px; 
height: 120px; 
margin-bottom: 48px;
padding: 188 472 292 472;
}
.mine-item-btn{
    background: #4D5AE5;
    color: var(--WHITE, #FFF);
    font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
width: 169; 
height: 56;
padding: 16px 32px;
display: block;
border: none;
border-radius: 4px;

}
.mine-item-btn:hover,
.mine-item-btn:focus{
    background-color: #404BBF;
}


/* about-us */

.about-us{
    background: #FFF;
    display: flex;
    margin-bottom: 120px;
   }
.about-us-list {background: #FFF;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    
}
.about-us-list-item {
    width: 264px;
    height: auto;    
}
.about-us-title {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.about-us-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    height: 732px;
}
.our-team-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-left: 639px;
margin: 0 auto;
}
.our-team-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    margin-top: 72px;
    background-color: inherit;
    margin: 72 auto 0;
    justify-content: center;
}
.our-team-item {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
}
.our-team-photos {
    background-color: #FFFFFF
}
.our-team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
width: auto;
height: auto;
margin-bottom: 8px;
margin-top: 32px;
}
.our-team-text {
    color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
width: auto;
height: auto;
margin-bottom: 32px;
}

/* OUR PORTFOLIO */

.our-portfolio {
    background: #FFF;
}
.our-portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-top: 120px;
margin-bottom: 72px;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}
.our-portfolio-item {
}
.our-portfolio-pictures {
}
.our-portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
padding-top: 32px;
padding-left: 16px;
padding-right: 16px;
margin-bottom: 8px;
width: auto;
height: auto;
border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.our-portfolio-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
width: auto;
height: auto;
border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

/* FOOTER */

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    height: 312px;
    margin-top: 120px;
    padding-top: 100px;
    padding-left: 156px;
}

.footer-logo {
    color:#4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
}

.footer-text{
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;
height: 72px;
}
.studio {
    color: #F4F4FD;   
}