/* header */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
}

.title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title span{
    color: #2E2F42;
}
.title-list-link-subtitle{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.title-list-item a:hover,
.title-list-item a:focus {
    color: #404bbf;
}
.contacts-item a:hover,
.contacts-item a:focus {
    color: #404bbf;
}


.contacts{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contacts-item-link{
    color:#434455
}

/* mine-item */

.mine-item{
    background: var(--NAVY-BLUE, #2E2F42); }

.maine-item-text{
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.mine-item-btn{
    background: #4D5AE5;
    color: var(--WHITE, #FFF);
    font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.mine-item-btn:hover,
.mine-item-btn:focus{
    color: #404BBF;
}


/* about-us */

.about-us{
    background: #FFF;
}
.about-us-list {background: #FFF
}
.about-us-list-item {
}
.about-us-title {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.about-us-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team {
    background: var(--CLOUD, #F4F4FD);
}
.our-team-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.our-team-list {
    background-color: #FFFFFF
}
.our-team-item {
    background-color: #FFFFFF
}
.our-team-photos {
    background-color: #FFFFFF
}
.our-team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.our-team-text {
    color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* OUR PORTFOLIO */

.our-portfolio {
    background: #FFF;
}
.our-portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.our-portfolio-list {
}
.our-portfolio-item {
}
.our-portfolio-pictures {
}
.our-portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.our-portfolio-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footer span{
    color: #4D5AE5;
}
.footer-logo {
    color: var(--CLOUD,  #4d5ae5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-text{
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-logo-span-studio{
    color: #f4f4fd;   
}