* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
}
/* input {
  all: unset;
} */

.container {
  width: 1128px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 141px;
  margin-left: 141px;
}

/* header */

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
  text-transform: uppercase;
}
.navigation-content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  width: 1158px;
  height: 72px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0 15px;
  align-items: center;
}

.title-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
}

.title span {
  color: #2e2f42;
}
.title-list-link {
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
}

.current {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.title-list-link-subtitle {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-list-link-subtitle:hover,
.title-list-link-subtitle:focus {
  color: #404bbf;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: #404bbf;
}

.contacts {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-item {
}

.contacts-content {
  display: flex;
  margin-left: auto;
  gap: 40px;
  justify-content: end;
  align-items: center;
}

.contacts-item-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* mine-item */

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mine {
}

.mine-item {
  height: 600px;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-ofice.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
}

.maine-item-text {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin-bottom: 48px;
  padding: 188 472 292 472;
}
.mine-item-btn {
  background: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  display: block;
  border: none;
  border-radius: 4px;
}
.mine-item-btn:hover,
.mine-item-btn:focus {
  background-color: #404bbf;
}

/* about-us */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  display: none;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.about-us {
  background: #fff;
  display: flex;
  padding: 120px 0;
}

.about-us-list {
  background: #fff;
  display: flex;
  gap: 24px;
}

.box-icon {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 24px 100px;
}

.about-us-list-item {
  width: calc((100% - 72px) / 4);
  height: auto;
}
.about-us-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.about-us-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team-section {
  padding: 120px 0;
  background: var(--CLOUD, #f4f4fd);
  height: 732px;
}
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  background-color: inherit;
  justify-content: center;
}
.name-position {
  padding: 32px 0;
}
.our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  height: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-photos {
  background-color: #ffffff;
}
.our-team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-soc {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-list-soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.team-list-soc-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.team-list-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-soc-link:hover {
  background-color: #404bbf;
}
.team-list-soc-link:focus {
  background-color: #404bbf;
}

/* OUR PORTFOLIO */

.our-portfolio-section {
  padding: 120px 0;
  background: #fff;
}

.our-portfolio {
}
.our-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}
.our-portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-item:hover .cover-text {
  transform: translateY(0%);
}

.our-portfolio-pictures {
}
.portfolio-products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  align-items: center;
  flex-shrink: 0;
  padding: 40px 32px;
  background: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  height: 312px;
  padding: 100px 0;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  height: 72px;
}

.studio {
  color: #f4f4fd;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-soc-media-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

.footer-soc-list-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-link:hover.footer-soc-link {
  background-color: #31d0aa;
}

.footer-soc-link:focus.footer-soc-link {
  background-color: #31d0aa;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subsribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-label {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-input {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--WHITE, #fff);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-input::placeholder {
  color: var(--WHITE, #fff);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-subscribe-btn {
  height: 40px;
  min-width: 165px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.footer-subscribe-btn-icon {
  margin-left: 16px;
}

.btn-icon-wrap {
}

/* MODAL */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  visibility: hidden;
  opacity: 0;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: var(--CORNFLOWER, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(--OCEAN, #404bbf);
  fill: #fff;
  border: none;
}

.modal-close-btn:focus {
  background-color: var(--OCEAN, #404bbf);
  fill: #fff;
  border: none;
}

.modal-btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  display: block;
  margin-bottom: 16px;
  width: 360px;
  height: 24px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input:focus-within {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}
.modal-lable {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-lable-wrap {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus::placeholder {
  color: #4d5ae5;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-policy {
  margin-bottom: 24px;
}
.modal-input-policy {
  margin-right: 8px;
}

.modal-lable-policy {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-input-policy:checked + .modal-lable-policy span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-lable-policy a {
  text-decoration: underline;
  color: var(--IRIS, #4d5ae5);
}
.modal-lable-policy span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
}

.modal-btn-send {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  display: block;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--IRIS, #404bbf);
}
.modal-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
